html {
  height: 100%;
  width: 100%;
  position: fixed;
}

body {
  background: #7fbbff;
  background: linear-gradient(#6d88ff, #bad9fc);
  background: -webkit-linear-gradient(#6d88ff, #bad9fc);
  background: -o-linear-gradient(#6d88ff, #bad9fc);
  background: -moz-linear-gradient(#6d88ff, #bad9fc);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  z-index: -100;
}

#main {
  width: 100%;
}

#welcome {
  height: 50vh;
}

.profile-pic {
  width: 75px;
}


/* Drop Down Info/Spaceship */
@media screen and (max-width: 549px) {
  .spaceship {
    width: 250px;
    transition: all 1.5s ease;
	  margin-top: -300px;
  }

  .welcome-msg {
    margin-top: -70px;
    font-family: "Courier New", Courier, monospace;
    border: thin grey solid;
    border-radius: 10px;
	  opacity: 0;
    transition: all 2s ease;
  }

  .slideIn {
	  opacity: 1;
    margin-top: -30px;
  }

  .moveDown {
    margin-top: -50px;
  }
}

@media screen and (max-width: 724px) and (min-width: 550px) {
  .spaceship {
    width: 400px;
    transition: all 1.5s ease;
	  margin-top: -300px;
  }

  .welcome-msg {
    margin-top: -100px;
    font-family: "Courier New", Courier, monospace;
    border: thin grey solid;
    border-radius: 10px;
    opacity: 0;
    transition: all 2s ease;
  }

  .slideIn {
    margin-top: -35px;
    opacity: 1;
  }

  .moveDown {
    margin-top: -70px;
  }
}

@media screen and (min-width: 725px) {
  .spaceship {
    width: 500px;
    transition: all 1.5s ease;
	  margin-top: -300px;
  }

  .welcome-msg {
    margin-top: -120px;
    font-family: "Courier New", Courier, monospace;
    border: thin grey solid;
    border-radius: 10px;
    opacity: 0;
    transition: all 2s ease;
  }

  .slideIn {
    margin-top: -55px;
    opacity: 1;
}

  .moveDown {
    margin-top: -80px;
  }
}


#nav {
  height: 50vh;
  position: fixed;
}

/* About Nav */
#about-nav {
  max-width: 33vw;
  bottom: -70px;
}

.about-btn {
  margin: -330px 0px 0px -2px;
  color: forestgreen;
  font-family: impact, sans-serif;
  background-color: lightgrey;
  max-width: 76px;
  font-size: 28px;
  border: thin grey solid;
  -o-transform: rotateX(-55deg) rotateY(-25deg);
  -webkit-transform: rotateX(-55deg) rotateY(-25deg);
  -moz-transform: rotateX(-55deg) rotateY(-25deg);
  -ms-transform: rotateX(-55deg) rotateY(-25deg);
}

.about-btn:hover {
  color: darkorange;
  cursor: pointer;
}

.about-btn:visited {
  color: darkorange;
}

.about-building {
  margin: -50px 0px 0px -100px;

}


/* Projects Nav */
#projects-nav {
  bottom: -70px;
  max-width: 33vw;
}

.projects-btn {
  margin: -260px 0px 0px -35px;
  font-family: impact;
  color: royalblue;
  background-color: lightgrey;
  width: 111px;
  font-size: 28px;
  border: thin grey solid;
  -o-transform: rotateX(-50deg) rotateY(-31deg);
  -webkit-transform: rotateX(-50deg) rotateY(-31deg);
  -moz-transform: rotateX(-50deg) rotateY(-31deg);
  -ms-transform: rotateX(-50deg) rotateY(-31deg);
}

.projects-btn:hover {
  color: darkorange;
  cursor: pointer;
}

.projects-btn:visited {
  color: darkorange;
}

.projects-building {
  margin: 0px 0px 0px -75px;
}


/* Contact Nav */
#contact-nav {
  bottom: -70px;
  max-width: 33vw;
}

.contact-btn {
  margin: -265px 0px 0px -10px;
  font-family: impact;
  color: red;
  background-color: lightgrey;
  width: 105px;
  font-size: 28px;
  border: thin grey solid;
  -o-transform: rotateX(-50deg) rotateY(36deg);
  -webkit-transform: rotateX(-50deg) rotateY(36deg);
  -moz-transform: rotateX(-50deg) rotateY(36deg);
  -ms-transform: rotateX(-50deg) rotateY(36deg);
}

.contact-btn:hover {
  color: darkorange;
  cursor: pointer;
}

.contact-btn:visited {
  color: darkorange;
}

.contact-building {
  margin: -30px 0px 0px -90px;
  right: 0px;
}


/* Modal Style */
.modal-mask {
  display: none;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 2s ease;
  margin-top: 50px;
}

.modal-container {
  background-color: white;
  border: thick black solid;
  border-radius: 10px;
  opacity: 1;
  margin-top: 30px;
  transition: all 1s ease;
  height: 90vh;
}

.modal-body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80%;
}

.modal-list {
  list-style-type: none;
}

.modal-list-item {
  margin-top: 7px;
}

.modal-pic {
  width: 50px;
  margin-top: 30px;
}

.project-pic {
  width: 220px;
}

.close-modal {
  margin-top: 7px;
}

#map {
  height: 400px;
  width: 100%;
}

/* Modal Animations */
.showModal {
  display: block;
  opacity: 1;
  margin-top: 0px;
  transition: all 2s ease;
}
