<!DOCTYPE html>
<html>
<head>
  <meta chaset="utf-8">
  <meta http-equiv="U-XA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greg R. Stephens</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Oswald:700" rel="stylesheet">
</head>
<body>
  <canvas id="sky"></canvas>
  <div id="main" class="container">

    <!-- Modal for information -->
    <div class="modal-mask container" v-bind:class="{ showModal: this.displayModal }">

      <!-- About Section -->
      <div class="row" v-if="this.aboutSection.displayModal">
        <div class="modal-container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" v-bind:class="{ modalIn: this.aboutSection.displayAbout }">
          <div class="modal-header row">
            <div class="col-xs-12">
              <button class="close-modal" v-on:click="showAbout()">CLOSE</button>
            </div>
          </div>
          <div class="modal-body row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="aboutSection.title"></h2>
                  <p v-text="aboutSection.background"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="aboutSection.skills.title"></h2>
                  <div class="col-xs-6">
                    <ul class="modal-list">
                      <li class="modal-list-item" v-for="skill in aboutSection.skills.skillsLt">
                        <a v-bind:href="skill.url" target="_blank">{{ skill.name }}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <ul class="modal-list">
                      <li class="modal-list-item" v-for="skill in aboutSection.skills.skillsRt">
                        <a v-bind:href="skill.url" target="_blank">{{ skill.name }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="aboutSection.education.title"></h2>
                  <div class="row">
                    <div class="col-xs-4">
                      <img class="modal-pic center-block align-middle" v-bind:src="aboutSection.education.udacity.img" />
                    </div>
                    <div class="col-xs-8">
                      <a v-bind:href="aboutSection.education.udacity.url" target="_blank"><h4 v-text="aboutSection.education.udacity.name"></h4></a>
                      <p>{{ aboutSection.education.udacity.degree }} in {{ aboutSection.education.udacity.major }}</p>
                      <p v-text="aboutSection.education.udacity.dates"></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4">
                      <img class="modal-pic center-block" v-bind:src="aboutSection.education.kennesaw.img" />
                    </div>
                    <div class="col-xs-8">
                      <a v-bind:href="aboutSection.education.kennesaw.url" target="_blank"><h4 v-text="aboutSection.education.kennesaw.name"></h4></a>
                      <p>{{ aboutSection.education.kennesaw.degree }} in {{ aboutSection.education.kennesaw.major }}</p>
                      <p v-text="aboutSection.education.kennesaw.dates"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="aboutSection.interests.title"></h2>
                  <div class="col-xs-6">
                    <ul class="modal-list">
                      <li class="modal-list-item" v-for="interest in aboutSection.interests.interestsLt">
                        {{ interest }}
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-6">
                    <ul class="modal-list">
                      <li class="modal-list-item" v-for="interest in aboutSection.interests.interestsRt">
                        {{ interest }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Projects Section -->
      <div class="row" v-if="this.projectsSection.displayModal">
        <div class="modal-container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" v-bind:class="{ modalIn: this.projectsSection.displayProjects }">
          <div class="modal-header row">
            <div class="col-xs-12">
              <button class="close-modal" v-on:click="showProjects()">CLOSE</button>
            </div>
          </div>
          <div class="modal-body row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="projectsSection.title"></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h4 v-text="projectsSection.arcadeGame.name"></h4>
                  <br />
                  <img class="project-pic center-block" v-bind:src="projectsSection.arcadeGame.img" />
                  <br />
                  <p v-text="projectsSection.arcadeGame.description"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Contact Section -->
      <div class="row" v-if="this.contactSection.displayModal">
        <div class="modal-container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" v-bind:class="{ modalIn: this.contactSection.displayContact }">
          <div class="modal-header row">
            <div class="col-xs-12">
              <button class="close-modal" v-on:click="showContact()">CLOSE</button>
            </div>
          </div>
          <div class="modal-body row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="contactSection.title"></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p v-text="contactSection.name"></p>
                  <p>Cell: <a v-text="contactSection.phone.cell" v-bind:href="contactSection.phone.call" target="_blank"></a></p>
                  <p>Email: <a v-text="contactSection.email.address" v-bind:href="contactSection.email.url" target="_blank"></a></p>
                  <p>LinkedIn: <a v-bind:href="contactSection.linkedin.url" v-text="contactSection.linkedin.username" target="_blank"></a></p>
                  <p>Github: <a v-bind:href="contactSection.github.url" v-text="contactSection.github.username" target="_blank"></a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h2 v-text="contactSection.location.title"></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <img id="map" v-bind:src="contactSection.location.src">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Div for welcome/spaceship -->
    <div id="welcome" class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <img class="spaceship center-block" v-bind:src="spaceship.img" v-on:load="moveDown(), slideIn()" v-bind:class="{ moveDown: this.spaceship.moveShip }">
        </div>
      </div>
	    <div class="row">
	      <div class="welcome-msg col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" v-bind:class="{ slideIn: this.welcome.showWelcome }">
  		    <h1 class="welcome-title text-center" v-text="welcome.title"></h1>
  		    <img class="profile-pic center-block img-circle" v-bind:src="welcome.img">
  		    <h4 class="welcome-subtitle text-center" v-text="welcome.subtitle"></h4>
		    </div>
	    </div>
    </div>


    <!-- Navbar with buildings -->
    <div id="nav" class="container">
      <div class="row">
        <div id="about-nav" class="col-xs-4">
          <img class="about-building" v-bind:src="aboutNav.img">
          <p class="about-btn" v-text="aboutNav.text" v-on:click="showAbout()"></p>
        </div>
        <div id="projects-nav" class="col-xs-4">
          <img class="projects-building" v-bind:src="projectsNav.img">
          <p class="projects-btn" v-text="projectsNav.text" v-on:click="showProjects()"></p>
        </div>
        <div id="contact-nav" class="col-xs-4">
          <img class="contact-building" v-bind:src="contactNav.img">
          <p class="contact-btn" v-text="contactNav.text" v-on:click="showContact()"></p>
        </div>
      </div>
    </div>

  </div>
  <script src="js/sky.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
